<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jeudego.ffg"
    android:versionCode="1"
    android:versionName="0.42" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.INTERNET" /> 

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
       <activity
            android:name=".PlayerListActivity"
            android:label="@string/title_activity_list_player"
            android:configChanges="keyboardHidden|orientation|screenSize" >
            
        </activity>
        
        <activity
            android:name=".PlayerProfileActivity"
            android:label="@string/title_activity_profile_player" >
        </activity>
        
       <activity
            android:name=".ViewNewsActivity"
            android:label="@string/title_activity_main" >
       </activity>
        
        <activity
            android:name=".SplashScreenFFGActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        
        <activity
            android:name=".ParametersActivity"
            android:label="@string/title_parameters_activity" >
        </activity>
        
        <service
            android:name=".MAJLocalDatabase"
            android:exported="false"/>
    </application>

</manifest>